* {
    margin: 0px;
    padding: 0px; 
}

@font-face {
    font-family: "Exo2";
    src: url("fonts/Exo2Regular/Exo2Regular.eot");
    src: url("fonts/Exo2Regular/Exo2Regular.eot?#iefix")format("embedded-opentype"),
    url("fonts/Exo2Regular/Exo2Regular.woff") format("woff"),
    url("fonts/Exo2Regular/Exo2Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Exo2Bold";
    src: url("fonts/Exo2Bold/Exo2Bold.eot");
    src: url("fonts/Exo2Bold/Exo2Bold.eot?#iefix")format("embedded-opentype"),
    url("fonts/Exo2Bold/Exo2Bold.woff") format("woff"),
    url("fonts/Exo2Bold/Exo2Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Exo2Light";
    src: url("fonts/Exo2Light/Exo2Light.eot");
    src: url("fonts/Exo2Light/Exo2Light.eot?#iefix")format("embedded-opentype"),
    url("fonts/Exo2Light/Exo2Light.woff") format("woff"),
    url("fonts/Exo2Light/Exo2Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeueRegular/bebas_neue_regular-webfont.eot');
    src: url('fonts/BebasNeueRegular/bebas_neue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeueRegular/bebas_neue_regular-webfont.woff2') format('woff2'),
         url('fonts/BebasNeueRegular/bebas_neue_regular-webfont.woff') format('woff'),
         url('fonts/BebasNeueRegular/bebas_neue_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*body {
    background-image: radial-gradient(circle closest-side at 50% 50%, rgb(255,255,255) 0%, rgb(191,192,193) 100%), 
        url("images/bg_why.png"),
        radial-gradient(circle closest-side at 50% 50%, rgb(70,73,78) 0%, rgb(32,33,35) 100%);    
    background-size: 100% 632px,
        100% 391px,
        100% 200px, 
        100% 200px;
    background-repeat: no-repeat;
    background-position-y: 60px, 692px, 1720px, 1921px;
}*/

body {

}

.wrapper {
    width: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

/*HEADER*/

header {
    padding: 6px 5px;
}

.logo {
    float: left;    
}

.text {
    font-family: 'BebasNeueRegular';
    font-size: 10px;
    letter-spacing: 2px;
    line-height: 1.2;
    color: rgb(130, 130, 130);  
} 

.questions {
    float: right;
    font-family: "Exo2";
    font-size: 20px;
    color: rgb(54, 70, 87);
    text-align: right;
}

.questions::first-line {
    font-size: 11px;
}

/*INFOGRAPHIC*/

.infographic {
    
}

/*WHY*/

.wrapper.whyBg {
    background-image: url("images/bg_why.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.why {
    font-family: "Exo2Light";
    color: rgb(255,255,255);
}

.whyThreeCircles {   
    text-align: center;   
    padding-top: 30px;    
}

.whyText {
    font-size: 48px;
    padding-bottom: 36px;
}

.circle {
    display: inline;
    padding: 0px 88px;
    font-size: 0px;
    line-height: 0px;
}

.threeCirclesText { 
    display: inline-flex;
    padding: 0px 58px;
    padding-bottom: 100px;
    font-size: 24px;    
}

.circleText {    
    padding: 0px 62px;  
    text-align: center;  
}

/*BUY*/

.wrapper.buyBg {

}

.buy {
    /*height: 638px;*/
}

.recommend {
    display: table;
}

.recommend ul {
    display: table-row;
}

.recommend li {
    display: table-cell;
}

.recommend h1 {
    display: table-caption;
    caption-side: top;
    font-family: "Exo2";
    font-size: 50px;
    color: rgb(54, 54, 54);
}

.recommend .content {
    display: table-row-group;
}

.column {
    display: table-column;
}



/*.recommendText {
    font-family: "Exo2";
    font-size: 50px;
    color: rgb(54, 54, 54);
    text-align: center;
    padding-top: 35px;
}*/


/*BOTTOM*/

.wrapper.bottomBg {
    background-image: radial-gradient(circle closest-side at 50% 50%, rgb(70,73,78) 0%, rgb(32,33,35) 654%);
    background-repeat: no-repeat;
}

.bottom {
    padding: 14px 35px 65px 100px;
}

.percent {
    float: left;
    width: 418px;
    font-family: "Exo2Bold";
    font-size: 120px;
    color:  rgb(255, 198, 0);
    margin-right: 20px;
}

.percent span {
    font-size: 0.7em;
}

.percentText {
    font-family: "Exo2";
    font-size: 24px;
    color: rgb(255, 255, 255);
    margin-top: 34px;
}


/*FOOTER*/

.wrapper.footerBg {
    background-color: rgb(70, 73, 78);
}

footer {
    display: inline-flex;
    padding: 30px 20px 80px 22px;    
}

.footerText {
    font-family: "Exo2";
    font-size: 12px;
    line-height: 2;
    text-align: left;
    color: rgb(255, 255, 255);
    background-image: url("images/stf_big.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 140px;
    width: 70%;
}

.footerText a {
    color: rgb(84, 172, 210);
}

.phone {
    font-family: "Exo2";
    font-size: 15px;
    line-height: 1.7;
    text-align: right;
    color: rgb(255, 255, 255);
    width: 30%;
}

.phone span {
    font-size: 20px;
}