* {
    margin: 0px;
    padding: 0px; 
}

@font-face {
    font-family: "Exo2";
    src: url("fonts/Exo2Regular/Exo2Regular.eot");
    src: url("fonts/Exo2Regular/Exo2Regular.eot?#iefix")format("embedded-opentype"),
    url("fonts/Exo2Regular/Exo2Regular.woff") format("woff"),
    url("fonts/Exo2Regular/Exo2Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Exo2Bold";
    src: url("fonts/Exo2Bold/Exo2Bold.eot");
    src: url("fonts/Exo2Bold/Exo2Bold.eot?#iefix")format("embedded-opentype"),
    url("fonts/Exo2Bold/Exo2Bold.woff") format("woff"),
    url("fonts/Exo2Bold/Exo2Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Exo2Light";
    src: url("fonts/Exo2Light/Exo2Light.eot");
    src: url("fonts/Exo2Light/Exo2Light.eot?#iefix")format("embedded-opentype"),
    url("fonts/Exo2Light/Exo2Light.woff") format("woff"),
    url("fonts/Exo2Light/Exo2Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeueRegular/bebas_neue_regular-webfont.eot');
    src: url('fonts/BebasNeueRegular/bebas_neue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeueRegular/bebas_neue_regular-webfont.woff2') format('woff2'),
         url('fonts/BebasNeueRegular/bebas_neue_regular-webfont.woff') format('woff'),
         url('fonts/BebasNeueRegular/bebas_neue_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: radial-gradient(circle closest-side at 50% 50%, rgb(255,255,255) 0%, rgb(191,192,193) 100%), 
        url("images/bg_why.png"),
        radial-gradient(circle closest-side at 50% 50%, rgb(70,73,78) 0%, rgb(32,33,35) 100%);    
    background-size: 100% 632px,
        100% 391px,
        100% 200px, 
        100% 200px;
    background-repeat: no-repeat;
    background-position-y: 60px, 692px, 1720px, 1921px;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

/*HEADER*/

header {
    height: 48px;
    padding: 6px 9px;
}

.logo {
    float: left;
    font-family: 'BebasNeueRegular';
    font-size: 10px;
    letter-spacing: 2px;
    color: rgb(130, 130, 130);    
}

.questions {
    float: right;
    font-family: "Exo2";
    font-size: 20px;
    color: rgb(54, 70, 87);
    text-align: right;
}

.questions::first-line {
    font-size: 11px;
}

/*INFOGRAPHIC*/

.infographic {
    height: 632px;
}

/*WHY*/

.why {
    height: 391px;
    font-family: "Exo2Light";
    color: rgb(255,255,255);
}

.whyThreeCircles {
    font-size: 48px;
    text-align: center;   
    padding-top: 30px;
}

.whyText {
    padding-bottom: 36px;
}

.circle {
    display: inline;
    text-align: center;
    padding: 0px 88px;
}

.threeCirclesText {
    padding: 0px 58px;
}

.circleText { 
    float: left;  
    display: inline;  
    font-size: 24px;   
    padding: 0px 62px;
    text-align: center;
}

