* {
    margin: 0px;
    padding: 0px; 
}

@font-face {
    font-family: "Exo2";
    src: url("fonts/Exo2Regular/Exo2Regular.eot");
    src: url("fonts/Exo2Regular/Exo2Regular.eot?#iefix")format("embedded-opentype"),
    url("fonts/Exo2Regular/Exo2Regular.woff") format("woff"),
    url("fonts/Exo2Regular/Exo2Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Exo2Bold";
    src: url("fonts/Exo2Bold/Exo2Bold.eot");
    src: url("fonts/Exo2Bold/Exo2Bold.eot?#iefix")format("embedded-opentype"),
    url("fonts/Exo2Bold/Exo2Bold.woff") format("woff"),
    url("fonts/Exo2Bold/Exo2Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Exo2Light";
    src: url("fonts/Exo2Light/Exo2Light.eot");
    src: url("fonts/Exo2Light/Exo2Light.eot?#iefix")format("embedded-opentype"),
    url("fonts/Exo2Light/Exo2Light.woff") format("woff"),
    url("fonts/Exo2Light/Exo2Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'BebasNeueRegular';
    src: url('fonts/BebasNeueRegular/bebas_neue_regular-webfont.eot');
    src: url('fonts/BebasNeueRegular/bebas_neue_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/BebasNeueRegular/bebas_neue_regular-webfont.woff2') format('woff2'),
         url('fonts/BebasNeueRegular/bebas_neue_regular-webfont.woff') format('woff'),
         url('fonts/BebasNeueRegular/bebas_neue_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {

}

.wrapper {
    width: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

/*HEADER*/

header {
    padding: 7px 5px;
}

.logo {
    float: left;    
}

.text {
    font-family: 'BebasNeueRegular';
    font-size: 10px;
    letter-spacing: 2px;
    line-height: 1.2;
    color: rgb(130, 130, 130);  
} 

.questions {
    float: right;
    font-family: "Exo2";
    font-size: 20px;
    color: rgb(54, 70, 87);
    text-align: right;
}

.questions::first-line {
    font-size: 11px;
}

/*INFOGRAPHIC*/

.wrapper.info {
    background-image: radial-gradient(circle closest-side at 50% 50%, rgb(255,255,255) 0%, rgb(191,192,193) 397%);
    background-repeat: no-repeat;
}

.infographic {
    
}

.stforexText {
    font-family: "Exo2Light";
    font-size: 47px; /*50px*/
    color: rgb(54, 70, 87);
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.infographicBrends {
    /*padding-left: 97px;
    padding-right: 97px;*/
}

.brendInfo {
    float: left;
    width: 33%;
    text-align: center;
    padding-bottom: 70px;
}

.imgBrendContainer {
    width: 60%;
    margin: 0 auto;
}

.brendusd {
    font-family: "Exo2Bold";
    font-size: 18px;
    position: absolute;
    left: 45%;
    text-align: center;
    border-radius: 2px;    
    border-color: rgb(204, 204, 204);
    background-image: linear-gradient(rgb(254, 254, 254) 0%, rgb(198, 209, 215));     
    padding: 3px;  
}

.brendInfo:nth-child(3n+1) {
    position: relative;
    
}

.brendInfo:nth-child(3n+2) {
    position: relative;
}

.brendInfo:nth-child(3n+3) {    
    position: relative;
}

/*
  .brendInfo:nth-child(1)::after {
    content: url("images/top-left-line.svg");
    position: absolute;
    width: 153px;
    height: 109px;
    top: 35px;
    left: 245px;
}

.brendInfo:nth-child(2)::after {
    content: url("images/vertical-line.svg");
    position: absolute;
    width: 2px;
    height: 67px;
    top: 55px;
    left: 165px;
}

.brendInfo:nth-child(3)::before {
    content: url("images/top-right-line.svg");
    position: absolute;
    width: 153px;
    height: 109px;
    top: 35px;
    right: 245px;
}

.brendInfo:nth-child(4)::after {
    content: url("images/gorizontal-line.svg");
    position: absolute;
    width: 131px;
    height: 2px;
    top: 20px;
    left: 245px;
}

.brendInfo:nth-child(6)::before {
    content: url("images/gorizontal-line.svg");
    position: absolute;
    width: 131px;
    height: 2px;
    top: 20px;
    right: 245px;
}

.brendInfo:nth-child(7)::after {
    content: url("images/bottom-left-line.svg");
    position: absolute;
    width: 153px;
    height: 109px;
    bottom: 90px;
    left: 245px;
}

.brendInfo:nth-child(8)::before {
    content: url("images/vertical-line.svg");
    position: absolute;
    width: 2px;
    height: 67px;
    bottom: 130px;
    left: 165px;
}

.brendInfo:nth-child(9)::after {
    content: url("images/bottom-right-line.svg");
    position: absolute;
    width: 153px;
    height: 109px;
    bottom: 90px;
    right: 245px;
}
    */

/*.brendusd:nth-of-type(2) {
    border: 3px solid red;
} */

.brendInfo:nth-child(4n+1) .brendusd {
    border: 3px solid red;
}

.twoInfoButtons {
    width: 45%;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 40px;
}

.buyStockBtn {
    float: right;
    background-color: rgb(255, 198, 0);
    padding: 13px;
    text-align: center; 
    font-family: "Exo2";
    font-size: 20px;
    color: rgb(17, 17, 17);
    width: 53%;
}

.buyStockBtn:hover {
    transition-property: background-color;
    transition-duration: 1s;
    background-color: rgb(255, 228, 0);
}

.buyStockBtn:active {
    background-color: rgb(201, 156, 0);
}


/*WHY*/

.wrapper.whyBg {
    background-image: url("images/bg_why.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.why {
    font-family: "Exo2Light";
    color: rgb(255,255,255);
}

.whyThreeCircles {   
    text-align: center;   
    padding-top: 30px;    
}

.whyText {
    font-size: 48px;
    padding-bottom: 36px;
}

.circle {
    display: inline;
    padding: 0px 88px;
    font-size: 0px;
    line-height: 0px;
}

.threeCirclesText { 
    display: inline-flex;
    padding: 0px 58px;
    padding-bottom: 100px;
    font-size: 24px;    
}

.circleText {    
    padding: 0px 62px;  
    text-align: center;  
}

/*BUY*/

.buy {
    position: relative;
    padding-top: 26px;
    padding-bottom: 65px;
}

.buy::before {
    content: url("images/arrow.svg");
    display: block;
    position: absolute;
    width: 14%;
    height: 17%;
    bottom: 80px;
    left: 40px;
}

.buy::after {
    content: url("images/arrow.svg");
    transform: rotateY(180deg);
    display: block;
    position: absolute;
    width: 14%;
    height: 17%;
    bottom: 80px;
    right: 40px;
}

.buyNow {
    font-family: "Exo2Light";
    font-size: 50px;
    color: rgb(54, 54, 54);
    text-align: center;
    padding-bottom: 15px;
}

.profitDate {
    float: right;
    font-family: "Exo2";
    font-size: 14px;
    color: rgb(37, 37, 37);
    text-align: left;
    padding-right: 90px;
}

.recommend {
    display: table;
    margin: auto;
}

.recommend ul {
    display: table-row;
}

.recommend li {
    display: table-cell;
    vertical-align: middle;
    font-family: "Exo2";
    font-size: 18px;
    color: rgb(37, 37, 37);
    border-bottom: 1px solid rgb(225, 225, 225);
    padding: 10px 10px;
}

.recommend li:nth-child(1) {
    text-align: right;
    padding-left: 16px;
}

.recommend li:nth-child(3) {
    font-family: "Exo2Bold";
    text-align: right;
}

.recommend li:nth-child(4) {
    text-align: left;
}

.recommend li:nth-child(6) {
    font-family: "Exo2Bold";
    font-size: 30px;
    text-align: right;
    color: rgb(94, 139, 29);
    padding-right: 38px;
}

.recommend .buyBtn {
    position: relative;
}

.recommend button {
    width: 129px;
    height: 38px;
    background-color: rgb(255, 198, 0);
    border: none;
    font-family: "Exo2";
    font-size: 16px;
}

.recommend button:hover {
    position: absolute;
    top: -20px;
    transform: translateX(13px);
    transition-property: width;
    transition-duration: 1s;
    width: 183px;
    background-color: rgb(255, 228, 0);
}

.recommend button:hover::after, .recommend button:active::after {
    content: " акции";
}

.recommend button:active {
    width: 183px;
    background-color: rgb(201, 156, 0);
}

.recommend .content {
    display: table-row-group;   
}

.total {
    font-family: "Exo2";
    font-size: 18px;
    color: rgb(37, 37, 37);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 35px;
}

.total span {
    font-family: "Exo2Bold";
    font-size: 30px;
    color: rgb(232, 68, 34);
}

.twoButtons {
    width: 62%;
    margin: 0 auto;
}

.field {
    font-family: "Exo2";
    font-size: 19px;
    color: rgb(37, 37, 37);
    text-align: center;
    border: 1px solid rgb(183, 183, 183);
    border-radius: 3px;
    padding: 12px; 
    height: 50px;
    margin-right: 2%;
    box-sizing: border-box;
    float: left; 
}

.field:active {
    border: 2px solid rgb(0, 140, 221);
}

.worldCompanyBtnContainer {
    background-color: white;
    width: 68%;
    float: right;   
}

.worldCompanyBtnContainer:hover {
    padding-left: 200%;
}

.worldCompanyBtn {
    width: 100%;
    box-sizing:border-box;
    background-color: rgb(255, 198, 0);    
    padding: 13px;
    text-align: center; 
    font-family: "Exo2";
    font-size: 20px;
    color: rgb(37, 37, 37);
}

.worldCompanyBtnContainer:hover .worldCompanyBtn {
    background-color: rgb(255, 228, 0);
    transition-property: transform, width;
    transition-duration: 1s;
    transform: translateX(-140px);
    width: 242px;   
    
}

.worldCompanyBtnContainer:active .worldCompanyBtn {
    background-color: rgb(201, 156, 0);
}

.worldCompanyBtnContainer:hover + .field { 
    display: none; 
}

.worldCompanyBtnContainer:hover .worldCompanyBtn span {
    display: none;
}

.worldCompanyBtnContainer:hover .worldCompanyBtn::before {
    content: "Купить акции";
}


/*BOTTOM*/

.wrapper.bottomBg {
    background-image: radial-gradient(circle closest-side at 50% 50%, rgb(70,73,78) 0%, rgb(32,33,35) 654%);
    background-repeat: no-repeat;
}

.bottom {
    padding: 14px 35px 65px 100px;
}

.percent {
    float: left;
    width: 418px;
    font-family: "Exo2Bold";
    font-size: 120px;
    color:  rgb(255, 198, 0);
    margin-right: 20px;
}

.percent span {
    font-size: 0.7em;
}

.percentText {
    font-family: "Exo2";
    font-size: 24px;
    color: rgb(255, 255, 255);
    margin-top: 34px;
}


/*FOOTER*/

.wrapper.footerBg {
    background-color: rgb(70, 73, 78);
}

footer {
    display: inline-flex;
    padding: 30px 20px 80px 22px;    
}

.footerText {
    font-family: "Exo2";
    font-size: 12px;
    line-height: 2;
    text-align: left;
    color: rgb(255, 255, 255);
    background-image: url("images/stf_big.png");
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 140px;
    width: 70%;
}

.footerText a {
    color: rgb(84, 172, 210);
}

.phone {
    font-family: "Exo2";
    font-size: 15px;
    line-height: 1.7;
    text-align: right;
    color: rgb(255, 255, 255);
    width: 30%;
}

.phone span {
    font-size: 20px;
}